<!DOCTYPE html>
<html>
<head>

  <script src="https://www.gstatic.com/firebasejs/8.2.4/firebase-app.js"></script>

</head>

<body>

  <p>yo</p>

  <pre id="object"></pre>

  <script src = "connexion.js"></script>
  
</body>
</html>
